*{
  margin: 0;
  padding: 0;
}

body{
  width: 100%;
  font-family: 'Avenir','Helvetica Neue','Helvetica','Arial','Hiragino Sans','ヒラギノ角ゴシック','YuGothic','Yu Gothic','メイリオ','Meiryo','ＭＳ Ｐゴシック','MS PGothic',sans-serif;
}
a{
    color: black;
    text-decoration: none;
}
a:hover{
    color: gray;
}
ul{
    list-style-type: none;
}


/*ハンバーガーメニュー*/
#nav-drawer {
  position: relative;
}
/*チェックボックス等は非表示に*/
.nav-unshown {
  display:none;
}
/*アイコンのスペース*/
#nav-open {
  display: inline-block;
  width: 30px;
  height: 22px;
  vertical-align: middle;
  float: left;
}
/*ハンバーガーアイコンをCSSだけで表現*/
#nav-open i{
  cursor: pointer;
  font-size: 5vw;
  color: #FF6699;
  background-color: white;
}
#nav-open span:before {
  bottom: -8px;
}
#nav-open span:after {
  bottom: -16px;
}
/*閉じる用の薄黒カバー*/
#nav-close {
  display: none;/*はじめは隠しておく*/
  position: fixed;
  z-index: 99;
  top: 0;/*全体に広がるように*/
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0;
  transition: .3s ease-in-out;
}
/*中身*/
#nav-content {
  overflow: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;/*最前面に*/
  width: 90%;/*右側に隙間を作る（閉じるカバーを表示）*/
  max-width: 330px;/*最大幅（調整してください）*/
  height: 100%;
  background: #fff; /*背景色*/
  transition: .3s ease-in-out;/*滑らかに表示*/
  -webkit-transform: translateX(-105%);
  transform: translateX(-105%);/*左に隠しておく*/
}
.hamburger-top i{
  font-size: 5vw;
  color: #FF6699;
  background-color: white;
  cursor: pointer;
}
/*チェックが入ったらもろもろ表示*/
#nav-input:checked ~ #nav-close {
  display: block;/*カバーを表示*/
  opacity: .5;
}
#nav-input:checked ~ #nav-content {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);/*中身を表示（右へスライド）*/
  box-shadow: 6px 0 25px rgba(0,0,0,.15);
}
.hamburger-top{
  margin: 2% 0 2% 88%;
}


/*アコーディオン*/
.accbox {
    padding: 0;
    max-width: 100%;
}
/*ラベル*/
.accbox label {
    width: 10%;
    display: block;
    margin: 0 auto;
    background-color: white;
    font-weight: bold;
    cursor :pointer;
    transition: all 0.5s;
    font-family: 'Verdana',sans-serif;
}
/*ラベルホバー時*/
.accbox label:hover {
    background-color: white;
}
/*チェックは隠す*/
.accbox input {
    display: none;
}
/*中身を非表示にしておく*/
.accbox .accshow {
    height: 0;
    padding: 0;
    overflow: hidden;
    opacity: 0;
    transition: 0.8s;
}
/*クリックで中身表示*/
.cssacc:checked + .accshow {
    height: auto;
    padding: 5px;
    background-color: white;
    opacity: 1;
}
.fa-angle-double-down{
  font-size: 1.5rem;
  background-color: #ff8312c4;
  color: white;
  border-radius: 10px;
  padding: 10px;
}


/* ヘッダー */
header{
    height: auto;
    padding: 3% 5%;
    position: relative;
}
#category{
    float: left;
    position: absolute;
    top: 50%;
    left: 12%;
    transform: translateY(-50%) translateX(-50%);
    -webkit-transform: translateY(-50%) translateX(-50%);
}
#category p{
    font-size: max(1vw,18px);
    border: solid 2px black;
    padding: 5px 10px;
}
#sh_logo{
    width: 10%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    -webkit-transform: translateY(-50%) translateX(-50%);
}
#top-icon{
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translateY(-50%) translateX(-50%);
    -webkit-transform: translateY(-50%) translateX(-50%);
}
#top-icon i{
    margin: 0 5px;
    font-size: max(1.5vw,18px);
    color: black;
}
#top-icon i:hover{
    color: gray;
}
#form{
    position: absolute;
    top: 60%;
    right: 10%;
    transform: translateY(-50%) translateX(-50%);
    -webkit-transform: translateY(-50%) translateX(-50%);
}
/*フォーム全体*/
#form1{
    position: relative;/*フォームの相対位置*/	
    max-width: 270px;/*フォームのサイズ*/
    margin-bottom: 15px;/*フォームの下に余白*/	 	
}
/*検索ボックス*/
#sbox1{
    padding: 5px 10px;/*テキスト位置調整*/	 
    border-radius: 2px 0 0 2px;/*検索ボックスの角を丸める*/		
    background: #eee;/*検索ボックスの背景カラー*/		
}
/*検索ボタン*/
#sbtn1{
    background: #D8BfD8;/*検索ボタンの背景カラー*/ 
    border: none;/*検索ボタンの枠線を消す*/ 
    color:  #fff;/*検索ボタンのテキストカラー*/ 
    font-weight:  bold;/*検索ボタンのテキスト太字*/ 
    padding: 5px 10px;
}
/*検索ボタンマウスオーバー時*/
#sbtn1:hover{
    color: #666;/*検索ボタンマウスオーバー時のフォントカラー*/ 
}


/* トップ */
#banner1{
    width: 100%;
    height: auto;
}
/* スライダー */
.slider img{
    width: 100%;
    height: 34vw;
    object-fit: cover;
}


/* メイン */
main{
    text-align: center;
}
/* 大見出し */
.headtxt{
    margin: 100px 0 50px 0;
}
.headtxt h1{
    font-size: max(2vw,24px);
    font-family: Garamond , "Times New Roman" , "游明朝" , "Yu Mincho" , "游明朝体" , "YuMincho" , "ヒラギノ明朝 Pro W3" , "Hiragino Mincho Pro" , "HiraMinProN-W3" , "HGS明朝E" , "ＭＳ Ｐ明朝" , "MS PMincho" , serif;;
}
.headtxt p{
    font-size: max(1vw,18px);
}
/* アイテムもっと見る */
.item-more{
    padding: 10px;
    background-color: #fff;
    font-size: max(1vw,18px);
    font-weight: bold;
    width: 20%;
    margin: auto;
    border: solid 2px #000;
}
.item-more:hover{
    color: white;
    background-color: #D8BfD8;
    border: solid 2px #D8BfD8;
}
.item-more a:hover{
    color: initial;
}

/* お知らせ */
#info{
    max-width: 700px;
    margin: auto;
    border: solid 1px black;
    padding: 30px 100px 40px 100px;
}
#info dl{
    display: flex;
    align-items: flex-start;
    padding: 30px 0 10px 0;
    line-height: 1.5;
    border-bottom: 1px dashed black;
    font-size: max(1vw,18px);
}
#info dd{
    margin: 0 50px;
}
#info i{
    font-size: max(1vw,16px);
    margin: 5px 0 0 10px;
}
#info-more{
    font-size: max(1vw,18px);
    font-weight: bold;
    display: flex;
    margin: 30px 0 0 500px;
}
#info-more a{
    margin: 0 auto;
}

/* NEW ARRIVAL */
.item-list{
    width: 80%;
    margin: 0 10%;
}
.item-list img{
    width: 100%;
    object-fit: cover;
}
.item-list a:hover img{
    filter: alpha(opacity=70);
    -moz-opacity: 0.7;
    opacity: 0.7;
}
.item-list li{
    display: inline-block;
    width: 20%;
    margin: 0 10px 50px 10px;
    text-align: left;
}
.item-list h2{
    font-size: max(1.2vw,18px);
    margin: 10px 0;
}
.item-list p{
    font-size: max(1vw,18px);
    font-weight: 100;
}

/* RANKING */
.r-box{
    position: relative;
}
.ranking_no{
    position: absolute;
    top: 6px;
    left: 6px;
    padding: 5px 10px;
    border-radius: 50px;
    background-color: #fff;
    border: solid 0.5px;
    font-size: 15px !important;
    font-weight: bold !important;
}

/* PICK UP */
#pick-list li{
    width: 40%;
}


footer{
  width: 80%;
  margin-left: 20%;
}
.footer1 li{
  list-style-type: none;
  display: inline-block;
  margin: 20px;
}
.footer1 ul{
  margin: 1% auto;
  width: 80%;
}
.footer1 a,.footer3 a{
  text-decoration: none;
  color: black;
}
.footer1 a:hover{
  color: grey;
}
.footer1,.footer2,.footer3{
  text-align:center;
  margin: 20px 0;
}
.ft1{
padding: 0.5em;
  background: white;
  box-shadow: 0 0 4px grey;
}


@media screen and (min-width: 960px) {
  #nav-open {
    display:none;
  }
  #logo1{
    display: none;
  }
  #no6{
    display: none;
  }
  .icon{
    display: none;
  }
}


@media screen and (max-width: 959px){
  .sidemenu{
    display: none;
  }
  .sidemenu1{
    text-align: center;
  }
  .sidemenu1 h2{
    color: #ff002347;
    margin: 30px 0;
  }
  .menu1 li,.menu2 li{
    margin: 20px 0;
  }
  .menu1 a{
    color: grey;
    text-decoration: none;
  }
  .menu1 a:hover{
    color: black;
  }
  .menu2 a {
    color: black;
  }
  .mainmenu{
    width: 100%;
    margin: 0 auto;
  }
  #logo1{
    width: 30%;
    margin: 0 35%;
  }
  .info{
    width: 80%;
  }
  .info td,.info th{
    vertical-align: top;
    padding: 10px;
    text-align: initial;
  }
  .info tr{
    line-height: initial;
  }
  .content2 li,.content4 li{
    width: 50%;
    margin: auto;
  }
  #more{
    margin: 0 42%;
  }
  footer{
    width: 100%;
    margin-left: auto;
  }
  .icon{
    margin-left: 78%;
  }
  .icon a{
    color: grey;
    padding: 0 10px;
    font-size: 4vw;
  }
}


@media screen and (max-width: 559px){
  .sidemenu{
    display: none;
  }
  .sidemenu1{
    text-align: center;
  }
  .sidemenu1 h2{
    background-color: white;
    color: #ff002347;
    margin: 30px 0;
  }
  .menu1 li,.menu2 li{
    margin: 20px 0;
  }
  .menu1 a{
    color: grey;
    text-decoration: none;
  }
  .menu1 a:hover{
    color: black;
  }
  .menu2 a {
    color: black;
  }
  .mainmenu{
    width: 100%;
    margin: auto;
  }
  #logo1{
    width: 40%;
    margin: 0 30%;
  }
 .info tr{
  line-height: 30px;
 }
 .info td,.info th{
  padding: 5px;
}
.content3 img{
  width: 70%;
  margin: 10% 15%;
}
#more {
  margin: 0 38%;
}
.content4 li{
  width: 60%;
  margin: 20px auto;
  float: initial;
}
footer{
  margin: 50px 0;
}
.footer1 ul{
  width: 80%;
}
#no6{
  display: none;
}
.accbox label{
  width: 24%;
}
}
