*{
  margin: 0;
  padding: 0;
}

body{
  width: 100%;
  font-family: 'Avenir','Helvetica Neue','Helvetica','Arial','Hiragino Sans','ヒラギノ角ゴシック','YuGothic','Yu Gothic','メイリオ','Meiryo','ＭＳ Ｐゴシック','MS PGothic',sans-serif;
}
a{
    color: black;
    text-decoration: none;
}
a:hover{
    color: gray;
}
ul{
    list-style-type: none;
}


/*--------------------ハンバーガーメニュー-----------------------
--------------------------------------------------------------*/
#nav-drawer {
  position: relative;
}
/*チェックボックス等は非表示に*/
.nav-unshown {
  display:none;
}
/*アイコンのスペース*/
#nav-open {
  display: inline-block;
  width: 30px;
  height: 22px;
  vertical-align: middle;
  float: left;
}
/*ハンバーガーアイコンをCSSだけで表現*/
#nav-open i{
  cursor: pointer;
  font-size: 5vw;
  color: #FF6699;
  background-color: white;
}
#nav-open span:before {
  bottom: -8px;
}
#nav-open span:after {
  bottom: -16px;
}
/*閉じる用の薄黒カバー*/
#nav-close {
  display: none;/*はじめは隠しておく*/
  position: fixed;
  z-index: 99;
  top: 0;/*全体に広がるように*/
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0;
  transition: .3s ease-in-out;
}
/*中身*/
#nav-content {
  overflow: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;/*最前面に*/
  width: 90%;/*右側に隙間を作る（閉じるカバーを表示）*/
  max-width: 330px;/*最大幅（調整してください）*/
  height: 100%;
  background: #fff; /*背景色*/
  transition: .3s ease-in-out;/*滑らかに表示*/
  -webkit-transform: translateX(-105%);
  transform: translateX(-105%);/*左に隠しておく*/
}
.hamburger-top i{
  font-size: 5vw;
  color: #FF6699;
  background-color: white;
  cursor: pointer;
}
/*チェックが入ったらもろもろ表示*/
#nav-input:checked ~ #nav-close {
  display: block;/*カバーを表示*/
  opacity: .5;
}
#nav-input:checked ~ #nav-content {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);/*中身を表示（右へスライド）*/
  box-shadow: 6px 0 25px rgba(0,0,0,.15);
}
.hamburger-top{
  margin: 2% 0 2% 88%;
}


/*---------------------------ヘッダー----------------------------
--------------------------------------------------------------*/
header{
    width: 100%;
}
#h-banner{
    width: 100%;
    padding: 5px auto;
    text-align: center;
    background-color: #FF6699;
}
#h-banner a{
    font-size: ;
    color: #fff;
    letter-spacing: 1px;
}
#sh_logo{
    width: 12%;
    margin: 10px 0;
}
#h-nav{
    margin: 0 5%;
}
header nav{
    padding-top: 40px;
    display: flex;
    float: right;
}
#nav-icon{
    margin: 5px 0 0 20px;
}
header li{
    float: left;
    margin: 0 14px;
    font-size: max(1vw,18px);
}
.fa-bars{
    display: none;
}

/*------------------------検索フォーム--------------------------
--------------------------------------------------------------*/
.search_container {
    box-sizing: border-box;
    position: relative;
    border: 1px solid #999;
    padding: 3px 10px;
    border-radius: 20px;
    width: 200px;
    overflow: hidden;
    margin-left: 20px;
}
.search_container input[type="text"]  {
    border: none;
}
.search_container input[type="text"]:focus {
    outline: 0;
}
.search_container input[type="submit"]  {
    cursor: pointer;
    font-family: FontAwesome;
    font-size: 18px;
    border: none;
    background: none;
    color: #000;
    position: absolute;
    width: 2.5em;
    height: 2.5em;
    right: 0;
    top: -10px;
    outline : none;
}


/*---------------------スクロールヘッダー------------------------
--------------------------------------------------------------*/
.scroll-head {
    background: #fff;
    padding: 10px 200px;
    position: fixed;
    z-index: 1000;
    top: 0;
    display: none;
    box-shadow: lightgray 1px 1px 5px;
}
.scroll-head ul{
    float: right;
}
.scroll-head li{
    display: inline-block;
    margin: 0 10px;
    font-size: max(1vw,18px);
}
.scroll-head img{
    width: 10%;
    float: left;
}
.scroll-head i{
    font-size: max(1vw,18px);
    color: black;
}
.scroll-head i:hover{
    color: gray;
}


/*--------------------------トップ-----------------------------
--------------------------------------------------------------*/
#banner1{
    width: 100%;
    height: auto;
}
/* スライダー */
.slider img{
    width: 100%;
    height: 36vw;
    object-fit: cover;
}
/* トップボタン */
#topbtn{
    display: none;
    position: fixed;
    right: 50px;
    bottom: 50px;
}
#topbtn a{
    display: block;
    font-size: 0;
    width: 50px;
    height: 50px;
    text-align: center;
    background: #e8a6a6;
    border-radius: 50%;
    line-height: 50px;
}
#topbtn a i{
    font-size: 20px;
    color:#fff;
    line-height: 50px;
}


/*------------------------メイン(共通)---------------------------
--------------------------------------------------------------*/
main{
    text-align: center;
}
/* 大見出し */
.headtxt{
    margin: 150px 0 50px 0;
}
.headtxt h1{
    font-size: max(2vw,24px);
    font-family: Garamond , "Times New Roman" , "游明朝" , "Yu Mincho" , "游明朝体" , "YuMincho" , "ヒラギノ明朝 Pro W3" , "Hiragino Mincho Pro" , "HiraMinProN-W3" , "HGS明朝E" , "ＭＳ Ｐ明朝" , "MS PMincho" , serif;;
}
.headtxt p{
    font-size: max(1vw,18px);
}
/* アイテムもっと見る */
.item-more{
    padding: 10px;
    background-color: #fff;
    font-size: max(1vw,18px);
    font-weight: bold;
    width: 24%;
    margin: auto;
    border: solid 2px #000;
}
.item-more:hover{
    color: white;
    background-color: #e8a6a6;
    border: solid 2px #e8a6a6;
}
.item-more a:hover{
    color: initial;
}
/* お気に入りボタン */
.favbtn{
    font-size: 16px;
    margin-top: 10px;
}


/*--------------------------お知らせ----------------------------
--------------------------------------------------------------*/
#info{
    max-width: 700px;
    margin: auto;
    border: solid 1px black;
    padding: 30px 100px 40px 100px;
}
#info dl{
    display: flex;
    align-items: flex-start;
    padding: 30px 0 10px 0;
    line-height: 1.5;
    border-bottom: 1px dashed black;
    font-size: max(1vw,18px);
}
#info dd{
    margin: 0 50px;
}
#info i{
    font-size: max(1vw,16px);
    margin: 5px 0 0 10px;
}
#info-more{
    font-size: max(1vw,18px);
    font-weight: bold;
    display: flex;
    margin: 30px 0 30px 500px;
}
#info-more a{
    margin: 0 auto;
}


/*------------------------新作アイテム---------------------------
--------------------------------------------------------------*/
.item-list{
    width: 80%;
    margin: 0 10%;
}
.item-list img{
    width: 100%;
    object-fit: cover;
}
.item-list a:hover img{
    filter: alpha(opacity=70);
    -moz-opacity: 0.7;
    opacity: 0.7;
}
.item-list li{
    display: inline-block;
    width: 20%;
    margin: 0 10px 50px 10px;
    text-align: left;
}
.item-list h2{
    font-size: max(1.2vw,18px);
    margin: 10px 0;
}
.item-list p{
    font-size: max(1vw,18px);
    font-weight: 100;
}


/*---------------------------RANKING-----------------------------
--------------------------------------------------------------*/
.r-box{
    position: relative;
}
.ranking_no{
    position: absolute;
    top: 6px;
    left: 6px;
    padding: 5px 10px;
    border-radius: 50px;
    background-color: #fff;
    border: solid 0.5px;
    font-size: 15px !important;
    font-weight: bold !important;
}


/*------------------------ピックアップ---------------------------
--------------------------------------------------------------*/
#pick-list li{
    width: 40%;
}


/*-------------------------instagram----------------------------
--------------------------------------------------------------*/
.insta{
    background-image: url("coco.img/insta-back.jpg");
    width: 100%;
    height: auto;
    padding: 10px 0 100px 0;
    margin-top: 100px;
}
.insta h1{
    margin: 70px 0 30px 0;
    font-size: max(2vw,24px);
    font-family: Garamond , "Times New Roman" , "游明朝" , "Yu Mincho" , "游明朝体" , "YuMincho" , "ヒラギノ明朝 Pro W3" , "Hiragino Mincho Pro" , "HiraMinProN-W3" , "HGS明朝E" , "ＭＳ Ｐ明朝" , "MS PMincho" , serif;;
}
.insta p{
    margin-bottom: 30px;
    font-size: max(1vw,18px);
}
#insta-list{
    width: 70%;
    margin: auto;
}
#insta-list img{
    width: 18%;
    margin-bottom: 50px;
}
#insta-list img:hover{
    filter: alpha(opacity=70);
    -moz-opacity: 0.7;
    opacity: 0.7;
}


/*-----------------------フッターエリア-------------------------
--------------------------------------------------------------*/
footer{
    width: 100%;
    height: auto;
    background-color: #f0cece;
    padding: 40px 0 10px 0;
}
#nav-area1{
    width: 40%;
    display: inline-block;
    margin-left: 10%;
    vertical-align: top;
}
#nav-area1 img{
    width: 40%;
}
#nav-area2,#nav-area3{
    width: 20%;
    display: inline-block;
}
#nav-area2 i{
    margin-bottom: 20px;
}
.footer1{
    width: 100%;
    text-align: center;
    margin-top: 60px;
}
.fa-twitter,.fa-instagram{
    float: left;
    font-size: 30px;
    margin-right: 20px;
}
.fa-line{
    clear: both;
    font-size: 30px;
}



@media screen and (max-width: 1024px){
    /*-------------共通-----------*/
    .item-more{
      width: 28%;
    }
    /*--------スクロールヘッダー---------*/
    .scroll-head{
        padding: 10px 100px;
    }

    /*----------ヘッダー----------*/
    #sh_logo{
      width: 12%;
      margin: 1% 44%;
    }
    header nav{
      padding: 0 0 10px 0;
    }
    .fa-bars{
        display: none;
    }

    /*---------スライダー----------*/
    .slider img{
      height: 38vh;
    }

    /*-------インフォメーション---------*/
    .info{
      width: 80%;
      margin: auto;
    }
    #info{
        padding: 30px 80px 0px 80px;
    }
    #info-more{
      margin: 30px 0 30px 450px;
    }

    /*-------------メイン--------------*/
    .item-list {
      width: 90%;
      margin: auto;
    }
    #insta-list {
    width: 80%;
    }
}

@media screen and (max-width: 599px){
    body{
        font-size: 16px;
    }

    header{
      position: relative;
    }
    #nav-text,.search_container{
      display: none;
    }
    #h-nav{
        padding-top: 5px;
    }
    .fa-bars{
        display: block;
        float: left;
        font-size: 30px;
        padding: 15px 0 20px 0;
    }
    #sh_logo{
      width: 30%;
      position: absolute;
      top: 100%;
      left: -8%;
    }
    header li{
      margin: 0 5px;
    }
    #nav-icon{
      margin-top: 10px;
    }
    #nav-icon i{
      font-size: 20px;
      padding: 10px 0;
    }

    .slider img{
      height: 60vh;
    }

    #info {
    padding: 30px 20px 0px 20px;
    }
    #info dt{
      font-size: 14px;
    }
    #info dd {
    margin: 0 20px;
    font-size: 14px;
    text-align: left;
}
}